<form #step2="ngForm" (ngSubmit)="getForm(step2.value)">
    <div
        class="m-auto w-4/5 bg_green mt-4 grid lg:grid-cols-1 lg:grid-rows-2 md:grid-rows-2 sm:grid-rows-2 gap-4 rounded-lg lg:pt-10">
        <div class="1 grid grid-rows-2 gap-1 m-2 mt-10 mb-10 lg:w-3/5 md:w-3/5 w-4/5 text-center">
            <p class="font-bold text-white text-lg">Opening Time</p>
            <small *ngIf="timing.invalid && timing.touched" class="error">Opening Time is Required.</small>
            <select class=" rounded-lg" ngModel name="selected_timing" #timing="ngModel" required>
                <option *ngFor="let timing of timingArr" class="text-xs">{{timing}}</option>
            </select>
        </div>
        <div class="3 grid grid-rows-2 gap-1 m-2 mt-10 lg:w-3/5 md:w-3/5 w-4/5 text-center">
            <p class="font-bold text-white text-lg">What is your reason for this visit?</p>
            <textarea class=" rounded-lg text-xs" ngModel name="reason" #reason="ngModel" colspan="4" rowspan="4"></textarea>
        </div>
    </div>
<button type="submit" [disabled]="step2.invalid" class="float-right mx-32 my-8 bg-green-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-blue-500 rounded">Next
</button>
</form>